<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">

    <!-- User getUserByUsername(String username); -->
    <select id="getUserByUsername" resultType="User">
        <!-- #{}占位符 -->
        select * from t_user where username = #{username}
        <!--  另一种方式 ${}字符串拼接,要手动加‘’
        select * from t_user where username = '${username}'
         -->
    </select>

    <!--
        多入参时，默认建立了map集合，键默认为agr0,agr1或者param1,param2....，用键访问值
    -->
    <!--User checkLogin(String username, String password);-->
    <select id="checkLogin" resultType="User">
        select * from t_user where username =#{param1}  and password = #{param2}
    </select>

    <!-- 入参自行设置为map时，可以用自己设置的key来访问value-->
    <!--User checkLoginByMap(Map<String, Object> map);-->
    <select id="checkLoginByMap" resultType="User">
        select * from t_user where username = #{username} and password = #{password}
    </select>

    <!--void insertUser(User user);-->
    <insert id="insertUser">
        insert into t_user values(null, #{username}, #{password}, #{age}, #{gender},#{email})
    </insert>

    <!--User checkLoginByParam(@Param("username") String username, @Param("password") String password);-->
    <select id="checkLoginByParam" resultType="User">
        select * from t_user where username = #{username} and password = #{password}
    </select>
</mapper>
